<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %cyan(%d{HH:mm:ss})  |
                [%green(%thread)]   |
                %highlight(%-5level) |
                %magenta(%logger{36}) :
                %msg%n
            </pattern>
        </encoder>
    </appender>

    //gunluk yeni file yaratmaq
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>C:\Users\elcin\IdeaProjects\bank-management-system/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory> <!-- Keep 7 days of logs -->
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>



    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>